
* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body {
  width:375px;
  background-color: rgb(28, 26, 25);
  background-image: url('./images/Illustration2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
 
}

:root {
  --white: #FFFFFF;
  --robotfont: Roboto;
}

@font-face {
  font-family: 'creteround';
  src: url(./fonts/CreteRound-Regular.ttf);
}

@font-face {
  font-family: poppins ;
  src: url(./fonts/Poppins-Regular.ttf);
}

header.top {
  height:48px;
  background-color:#3C3A39;
  display:flex;
  color:var(--white);
  justify-content:space-between;
  align-items: center;
  padding: 10px 12px; 
  font-family:var(--robotfont);
  font-weight: 700;
}

nav ul {display:none}

main {
  display:flex;
  flex-direction:column;
  justify-content:center; 
  align-content:center;
  min-height: calc(100vh - 48px);
  padding:0 12px;
  
}

h1 {
  font-family: creteround;
  font-weight: 400;
  font-size: 56px;
  line-height:64px;
  letter-spacing: 0.37px;
  color:#FF6B00;
}

h2 {
  line-height: 32px;
  font-family: var(--robotfont);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FFF5E1;
}

ul.social li {
 font-size:40px;
 padding:8px;
}

ul.social{
display:flex;
list-style-type:none;
width:200px;
flex:1;

}

p {
  color: var(--white);
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height:24px;
  
}

