* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
}

:root {
  --white: #fff;
  --robotfont: roboto;
  --black: #1c1a19;
}

@font-face {
  font-family: 'creteround';
  src: url(./fonts/CreteRound-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: inter;
  src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: InaiMathi;
  src: url(./fonts/Murasuit.ttf);
}

header.top {
  height: 48px;
  background-color: #3c3a39;
  display: flex;
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  font-family: var(--robotfont);
  font-weight: 700;
}

nav ul { display: none; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: calc(100vh - 48px);
  padding: 0 12px;
  background-color: rgb(28, 26, 25);
  background-image: url('./images/Illustration2.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

h1 {
  font-family: creteround, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h2 {
  line-height: 32px;
  font-family: var(--robotfont);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #fff5e1;
}

.languages li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  list-style-type: none;
}

ul.social li {
  font-size: 40px;
  padding: 8px;
}

ul.social {
  display: flex;
  list-style-type: none;
  width: 200px;
  flex: 1;
}

p {
  color: var(--white);
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 24px;
}

/* Work Section */
#projects {
  background-color: var(--white);
}

.about_me h1 {
  font-family: creteround, sans-serif;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37;
  color: #ff6b00;
  font-size: 72px;
}

#projects h1 {
  /* max-width: 87.2%; */
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0%;
  color: #1c1a19;
  vertical-align: middle;
  border-bottom: 1px solid #212121;
  padding: 24px 1px;
}

#wrapper {
  max-width: 87.2%;

  /* applied on header img h2 p button */
  display: flex;
  flex-direction: column;
  align-content: center;
}

#wrapper > img {
  margin-top: 80px;
}

#wrapper h2 {
  margin: 24px 0 12px 0;
  font-family: creteround, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #091e42;
}

.project_paragraph {
  font-family: inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

#first_project_p {
  color: #091e42;
}

#second_project_p {
  color: #fff;
  margin: 12px 16px;
}

.languages {
  display: flex;
  justify-content: space-between;
}

.see_project_button {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  background-color: #ff6b00;
  padding: 12px;
  margin: 24px 0;
  border: 1px solid #ff6b00;
}

#see_project {
  align-self: flex-start;
}

section {
  /* only applied on div .wrapper */
  display: flex;
  justify-content: center;
}

.first_item {
  margin-left: 12px;
}

.last_item {
  margin-right: 12px;
}

/* Single Project */
.single_project {
  display: grid;
}

#second_project {
  background-image: url(./images/second_project_bg.png);
  background-repeat: no-repeat;
}

.full_width_button {
  display: inline-block;
  width: 100%;
}

.second_languages {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  color: var(--white);
}

#second_project > h2 {
  margin: 72px 22px 12px 16px;
  font-family: creteround, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
}

#last_see_project_button {
  margin-bottom: 120px;
}

/* About Me section */
section.about_me {
  padding-top: 120px;
  background-color: var(--black);
  background-image: url(./images/about_me_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about_me_bg > p {
  color: #f4f5f7;
  font-family: inter, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.about_me_bg > .resumebutton {
  font-family: inter, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #fff;
  padding: 12px;
  background-color: #ff6b00;
  margin: 24px 0 120px 0;
}

div.hr {
  width: 87.2%;
  margin: 10px 12px 0 12px;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding: 120px 24px 38px 24px;
}

.my-skills > div > .skill-title {
  font-size: 32px;
  font-weight: 700;
  vertical-align: middle;
  color: var(--white);
  display: inline-block;
}

.my-skills ul {
  list-style-type: none;
}

article {
  max-width: 87.2%;
  border-bottom: 1px solid white;
  margin-bottom: -0.3px;
}

h2.skill-title::before {
  content: url('/images/Rectangle\ 55.png');
  display: inline-block;
  margin-right: 12px;
  color: #ff6b00;
}

h2.skill-title {
  color: var(--white);
  font-weight: 600;
  font-size: 32px;
  vertical-align: middle;
  margin: 8.73px 12px 8.73px 0;

  /* font-family: InaiMathi, sans-serif; */

}
article.weblanguages > ul > li {
  font-family: inter;
  font-weight: 400;
  font-size: 22px;
  line-height: 42.67px;
  text-align: center;
  vertical-align: middle;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #fff;
}

h2.framework-title::before {
  content: url(./images/square.png);
  display: inline-block;
  margin-right: 12px;
  color: #ff6b00;

}

.framework-title {
  font-family: inter;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  vertical-align: middle;
  color: var(--white);
  margin: 8px 12px;
}


